body{
    background:#99ffff;
    color:#333;
    font-family:sans-serif;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#417118;
    color:#fff;
}

